<div class="container">
    <h4 class="mt-3">Conditional Validation</h4>
    <hr>
    {{ reactiveForm.value | json}}
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" [class.is-invalid]="formname?.errors?.['required'] && formname?.touched"
                formControlName="name" class="form-control">
            <p class="text-danger" *ngIf="formname?.errors?.['required'] && formname?.touched">Enter a valid name</p>
            <p class="text-danger" *ngIf="formname?.errors?.['maxlength']">Must not exceed 6 characters</p>
            <p class="text-danger" *ngIf="formname?.errors?.['nameCheck']"> Name must not be
                {{formname?.errors?.['nameCheck'].value }}</p>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" [class.is-invalid]="!formemail?.errors?.['nameCheck'] && reactiveForm.value.subscribe" formControlName="email" class="form-control">
            <p class="text-danger" *ngIf="formemail?.errors?.['required']">Enter an email</p>
            <p *ngIf="!formemail?.errors?.['nameCheck'] && reactiveForm.value.subscribe"  class="text-danger">Enter a valid email</p>
        </div>
        <div class="mb-3">
            <input class="form-check-input" formControlName="subscribe" type="checkbox" value="" id="subscribe">&nbsp; 
            <label class="form-check-label" for="subscribe">Add subscription</label>
        </div>
        <div class="mb-3">
            <label for="gender" class="form-label">Choose a gender</label>
            <select class="form-select" formControlName="gender" id="gender" name="gender" >
                <option>Select a gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <div class="form-check">
            <input class="form-check-input" formControlName="status" type="radio" value="active" name="status"  id="status1" >
            <label class="form-check-label" for="status1">
                Active
            </label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" formControlName="status" type="radio" value="inactive" name="status"  id="status2">
            <label class="form-check-label" for="status2">
                Inactive
            </label>
        </div>
        <div class="mb-3">
            <button class="btn btn-secondary" (click)="addPhone()">Add Phone number(s)</button>
        </div>
        <div formArrayName="alternatePhone" class="mb-3" *ngFor="let phone of alternatePhone.controls; let i = index">
            <input type="text" [formControlName]="i" placeholder="(123)-456-7890" class="form-control">
        </div>
        <button [disabled]="!reactiveForm.valid" class="btn btn-primary mb-3" type="submit">Submit</button>
    </form>
</div>