<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
</style>
<div class="content" role="main">
  <h1>Angular Tutorials</h1>
  <nav>
    <a routerLink="conditional" routerLinkActive="active">Conditional Validation</a> <a routerLink="formbuilder" routerLinkActive="active">Form builder</a> <a routerLink="reactive" routerLinkActive="active">Reactive Form</a> <a routerLink="formpage" routerLinkActive="active">Form</a> <a routerLink="request" routerLinkActive="active" >Request</a>  <a routerLink="basic" routerLinkActive="active">Basic</a>
  </nav>
  <router-outlet>
  </router-outlet>
</div>